.main{
    position: relative;
    background-color: #35212E;
    width: 100vw;
    height: 250vh;
    overflow-x: hidden;
    color: white;
}

.background{
    position: fixed;
    height: 110vh;
    width: 100vw;
    overflow-y: hidden;
}
.body{
    top: 200px;
    position: absolute;
    width: 100%;

}
.body div{
    margin: auto;
}
.body > div {
    margin: 10% auto 0;
}
.footer{
    display: flex;
    color: white;
    position: relative;
    margin-top: 25%;
    bottom: 0;
}
.footer div{
    -webkit-transition-property: transform;
    transition-property: transform;
}
.footer div:hover{
    transform: scale(1.2);
}
.window{
    position: static;
    border-style: outset;
    width: max-content;
    border-width: 5px;
    background-color: #9B74AA;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.window:hover{
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(3deg);
}
.content{
    border-style: inset;
    border-width: 5px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.content img{
    height: auto;
}
