@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: white;
  --background-start-rgb: #E3A1D9;
  --background-end-rgb: #E08AC2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: white;
    --background-start-rgb: #E3A1D9;
    --background-end-rgb: #E08AC2;
  }
}

body {
  color: var(--foreground-rgb);
  background: var(--background-start-rgb);
  cursor: url("http://www.rw-designer.com/cursor-extern.php?id=46763"), default;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input[type="range"] {
  --range-progress: 0;

}

input[type="range"]::before {

  background: #f50;
  width: var(--range-progress);

}